.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 0 1 24%;
}


.flex-card {
    
    outline: 4px solid black;
}

body {
    font-family: 'Titillium Web';
}
.nav-item {
    margin: 8px
}

.dropdown {
    margin: 8px;
    color: #eca4ab;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
}